.container{
   width: 320px;
   margin: 0 auto;
   padding-left: 16px;
   padding-right: 16px;
}

a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
ul, ol{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
p,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding: 0;
}
button{
    cursor: pointer;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
 /* ---------HEADER---------- */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.container-header{
    max-width: 320px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    justify-content: space-between;
}

.header-logo-cursive {
    color: #2e2f42;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-menu-list {
    display: none;
}
.header-adress {
    display: none;
}
.icon-menu-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
}
.mob-menu {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: 0;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}
.is-open{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mob-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 100%;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mob-close:hover,
.mob-close:focus {
    background-color: #404bbf;
    border: none;
}

.mob-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close:hover .mob-close-icon,
.mob-close:focus .mob-close-icon {
    fill: #ffffff;
}

.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-nav-link.header-menu-link-studio {
    color: #404bbf;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
    color: #404bbf;
}

.mob-address {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 168px;
    margin-bottom: 48px;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address-link.header-menu-link-studio {
    color: #4d5ae5;
}

.mob-address-link {
    color: #434455;
    margin-bottom: 24px;
}

.mob-address-link:hover,
.mob-address-link:focus {
    color: #4d5ae5;
}

.mob-social-list {
    display: flex;
    gap: 40px;
}

/* ------------HERO------------ */

.hero {
    padding-top:16px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
     url(../images/hero-image-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: auto;
    color:#2e2f42;
    
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-image-mob2x.jpg);
    }
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

.hero-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Roboto", sans-serif; 
    margin: 0 auto;
    border-radius: 4px;
    display: block;
    height: 56px;
    align-items: center;
    min-width: 169px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

  /* --------FEATURES------------ */

.features{
    padding:96px 0;
    margin: 0 auto;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.features-icon-block{
    display: none;
}
.features-item{
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.features-text{
    max-width: 288px;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0;
}

  /* -------------TEAM------------ */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
    min-width: 320px;
}
.container-team{
    padding: 32px 0;
}
.team-social{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}
.team-icon{
    display: flex;
    width: 40px;
    height: 40px;
}
.team-icon-link{
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-svg{
    fill: #f4f4fd;
}
.team-icon-link:hover,
.team-icon-link:focus{
    background-color:#404bbf;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}
 .team-card-list {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);;
    min-width: 264px; 
}

  .team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    color: #2e2f42;
    background-color: #fff;
    text-transform: capitalize;
    text-align: center;
  }

  .team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-transform: capitalize;
    text-align: center;
  }

 /* ---------------PORTFOLIO-------------- */
.portfolio{
    text-transform: capitalize;
    background-color: #fff;
    padding-top: 96px;
    padding-bottom: 96px;
}
.portfolio-title {
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.portfolio-container{
    min-width: 320px;
}
.portfolio-list{
    width: 288px;
    position: relative;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
    gap: 48px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list:hover .portfolio-cover-text{
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-image{
    margin: 0 auto;
}
.border{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.overlay{
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

 /*----------- FOOTER------------ */

.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: block;
    text-align: center;
}

.footer-logo-cursive {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
    margin-top: 16px;
    font-size: 16px;
}
.footer-logo-div{
   margin-bottom: 72px;
}
.footer-media{
    margin-bottom: 72px;
}
.footer-media-tekst{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
.footer-social{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.footer-social-item{
    width: 40px;
    height: 40px;
}
.footer-social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:focus {
    background-color: #31d0aa;
}
.footer-icon{
    fill: #f4f4fd;
}
.input-email-footer{
    border: 1px solid #fff;
    border-radius: 4px;
    min-width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font: 400 12px / 2 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}
.btn-email-footer{
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4d5ae5;
    padding: 8px 24px;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.footer-email-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
.btn-footer-svg{
    fill: #ffffff;
}
/* ---------Backdrop----------- */
.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.is-open{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.modal{
    position: absolute;
    min-width: 288px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn{
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    position: absolute;
    padding: 0;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.icon-close{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404bbf;
    border:none
    
}
.modal-close-btn:hover > .icon-close,
.modal-close-btn:focus > .icon-close{
    fill: #fff;
}
.modal-title{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;
    min-width: 24px;
    margin-bottom: 16px;
}
.modal-form{
    margin-bottom: 8px;
}

.modal-field-checkbox{
    margin-bottom: 24px;
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 34px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #2e2f42;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
.modal-input:focus{
    border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon{
    fill: #4d5ae5;
}
.modal-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.modal-field-wrap{
    position: relative;
    margin-bottom: 8px;
}
.modal-field{
    margin-bottom: 16px;
}
.modal-icon{
    fill: transparent;
    stroke: #111111;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text{
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
}
.modal-text:focus{
    border-color: #4d5ae5;
}
.modal-check-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}
.modal-field-m{
    margin-bottom: 24px;
}
.modal-check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-check-span{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.modal-check:checked + .modal-check-text > .modal-check-span{
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}
.text-privacy{
    color: #4d5ae5;
}
.send-btn{
    display: block;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding: 16px 32px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    xzcursor: pointer;
}
/* -----------Media------------------ */
   @media screen and (min-width: 768px) {
       .container {
           min-width: 768px;
       }

       /* --------header-------------------- */
       .container-header {
           max-width: 768px;
           padding-top: 0;
           padding-bottom: 0;
       }

       .header-logo {
           margin-right: 120px;
       }

        .header-menu-list {
           display: flex;
           gap: 40px;
           margin-right: 121px;
       }

       .header-menu-link {
           color: #434455;
           font-size: 16px;
           font-weight: 500;
           line-height: 1.5;
           letter-spacing: 0.02em;
           padding: 24px 0;
           display: block;
           position: relative;
           transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }

       .header-menu-link:hover,
       .header-menu-link:focus {
           color: #404bbf;
       }

       .header-menu-link.header-menu-link-studio {
           display: flex;
           color: #404bbf;
       }

       .header-menu-link.header-menu-link-studio::after {
           width: 100%;
           height: 4px;
           border-radius: 2px;
           background-color: #404bbf;
           content: "";
           position: absolute;
           left: 0;
           top: 69px;
       }

       .header-adress {
        display: block;
       }

       .header-adress-list {
           margin-bottom: 12px;
       }

       .header-adress-link {
           color: #434455;
           font-size: 12px;
           font-weight: 400;
           line-height: 1.17;
           letter-spacing: 0.04em;
           font-style: normal;
           transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }

           .header-adress-link:hover,
           .header-adress-link:focus {
               text-decoration: underline;
               color: #404bbf;
           }

       .icon-menu-btn {
           display: none;
       }
       .mob-menu{
        display: none;
       }

       /* -------hero----------------------- */
       .hero {
           max-width: 768px;
           padding: 112px 0;
           background-image: linear-gradient(to bottom,
                   rgba(46, 47, 66, 0.7),
                   rgba(46, 47, 66, 0.7)),
               url(../images/hero-image-tab.jpg);
       }

       @media screen and (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 2dppx),
       (min-resolution: 192dpi) {
           .hero {
               background-image: linear-gradient(to bottom,
                       rgba(46, 47, 66, 0.7),
                       rgba(46, 47, 66, 0.7)),
                   url(../images/hero-image-tab2x.jpg);
           }
       }

       .hero-title {
           max-width: 496px;
           margin-bottom: 36px;
           font-size: 56px;
       }

       /* ----------features------------------------ */
       .features{
        margin: 0 auto;
        min-width: 768px;

       }
       .features-menu-list {
           gap: 72px 24px;
       }

       .features-list {
           width: calc((100% - 24px) / 2);
       }

       .features-icon-block {
           display: none;
       }

       .features-item {
           text-align: left;
       }

       .features-text {
        max-width: 356px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
       }

       /* ----------------team---------------- */
       .team{
           min-width: 768px;
       }

       .team-card {
           gap: 64px 24px;
       }
       .team-card-list{
        width: calc((100% - 24px) / 2);
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 428px;
       }

       /* ---------------portfolio-------------- */
       .portfolio-container {
           margin: 0 auto;
       }

       .portfolio-card {
           gap: 72px 24px;
       }

       .portfolio-list {
           min-width: 356px;
       }

       /* -----------footer----------------- */
       .container-footer {
           width: 584px;
           display: flex;
           flex-wrap: wrap;
           gap: 72px 24px;
           /* margin: 0 auto; */
           padding-right: 108px;
           padding-left: 108px;
       }

       .footer-logo-div {
           max-width: 288px;
           margin-bottom: 0;
       }

       .footer-logo {
           text-align: left;
       }

       .footer-media {
           margin-bottom: 0;
       }

       .footer-media-text {
           text-align: left;
       }

       .footer-form {
           display: flex;
           gap: 24px;
       }

       .footer-email-text {
           text-align: left;
       }

       .btn-email-footer {
           margin-top: 0;
       }

       .modal {
           max-width: 408px;
           padding: 72px 24px 24px;
       }

       .modal-input {
           padding-left: 38px;
       }
   }


   @media screen and (min-width: 1158px) {
       .container {
           min-width: 1158px;
           padding-left: 15px;
           padding-right: 15px;
       }

       /* -------header1158----------------- */
       .container-header {
           max-width: 1158px;
       }

       .header-logo {
           margin-right: 76px;
       }

       .header-menu-list {
           margin-right: 332px;
       }

       .header-adress-list {
           display: flex;
           gap: 40px;
       }

       .header-adress-item {
           margin-bottom: 0;
       }
       
       .header-adress-link {
           color: #434455;
           font-size: 16px;
           font-weight: 400;
           line-height: 1.5;
           letter-spacing: 0.02em;
           transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }

       li:first-child {
        margin-bottom: 0;
       }

       /* -------hero1158------------------- */
       .hero {
           max-width: 1440px;
           padding: 188px 0;
           background-image: linear-gradient(to bottom,
                   rgba(46, 47, 66, 0.7),
                   rgba(46, 47, 66, 0.7)),
               url(../images/hero-bg.jpg);
       }

       @media screen and (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 2dppx),
       (min-resolution: 192dpi) {
           .hero {
               background-image: linear-gradient(to bottom,
                       rgba(46, 47, 66, 0.7),
                       rgba(46, 47, 66, 0.7)),
                   url(../images/people-office2x.jpg);
           }
       }

       .hero-title {
           font-size: 56px;
           margin-bottom: 48px;
       }

       /* -------features--------------------------- */
       .features {
           width: 1158px;
           padding: 120px 0;
       }

       .features-menu-list {
           flex-wrap: nowrap;
           align-items: flex-start;
           margin: 0;
       }

       .features-list {
           flex-basis: calc((100% - 3 * 24px) / 4);
           align-items: center;
       }

       .features-icon-block {
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 24px 100px;
           border: 1px solid #8e8f99;
           border-radius: 4px;
           background: #f4f4fd;
           margin-bottom: 8px;
           width: 264px;
           height: 112px;
       }

       .features-item {
           font-size: 20px;
           font-weight: 500;
           line-height: 1.2;
           text-align: left;
       }

       .features-text {
           max-width: 264px;
       }

       /* ----------------team1158------------- */
       .team {
           min-width: 1158px;
           padding: 120px 0;
       }

       .team-card {
           gap: 24px;
           display: flex;
           margin: 0;
       }

       .team-card-list {
        width: calc((100% - 72px) / 4);
        }

       /* ---------------portfolio1158----------- */
       .portfolio {
           max-width: 1158px;
           margin: 0 auto;
           padding-top: 120px;
           padding-bottom: 120px;
       }

       .portfolio-card {
           gap: 48px 24px;
       }

       .portfolio-list {
           width: 360px;
       }

       /* ----------footer1158------------------ */
       .footer {
           padding: 100px 0;
       }

       .container-footer {
           width: 1128px;
           flex-wrap: nowrap;
           gap: 0;
           padding-left: 0;
       }

       .footer-logo-div {
           min-width: 264px;
           margin-right: 120px;
       }

       .footer-media {
           margin-right: 80px;
       }

       .email-footer-div {
           max-width: 453px;
           margin-right: 0;
       }

       .footer-form {
           gap: 24px;
       }

       .footer-input {
           min-width: 264px;
       }
}